* {
    box-sizing: border-box;
}
/* div {
    border: solid;
} */
.content {
  width: 60%;
  margin: auto;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form1 {
    flex: 80%;
}

.form2 {
    flex: 20%;
}

input[type="button"] {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 24px;
  text-decoration: none;
  margin: 5% 10px;
  cursor: pointer;
}

.todonote {
    width: 100%;
    border: 1px solid gray;
    padding: 20px 40px 20px 50px;
    word-wrap: break-word;
}
.todonote:hover {
background-color: rgb(167, 167, 167);
} 